<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>E-COMM</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <div class="nav-search">
        <form class="d-flex" role="search">
          <input class="form-control me-2  form-control-lg" type="text" (keyup)="searchProduct($event)"
            placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success">Search</button>
        </form>
      </div>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active seller" routerLink="/seller">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Login</a>
        </li>
        <li class="nav-link active">
          <button class="btn btn-light" routerLink="/addtocart">
            <i style="font-size: 30px;" class="fas fa-cart-plus">0</i>
            <div style="font-size: 20px; color:#000;" class="badge bg-dark"></div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>